<div id="screenshots" class="container scroller-wrapper">
  <div class="scroller-container">
    <ol class="scroller">
      <%- @pieces.each do |piece| -%>
        <li class="column span-1">
          <%= link_to_unless(piece.url.blank?,
            image_tag(piece.image_path, :alt => piece.title, :title => piece.title),
            piece.url,
            :target => '_blank'
          ) %>
        </li>
      <%- end -%>
    </ol>
  </div>

  <%- if @pieces.length > 6 -%>
    <%= link_to 'next',     '#next',      :class => 'right-arrow' %>
    <%= link_to 'previous', '#previous',  :class => 'left-arrow' %>
  <%- end -%>
</div>

<div id="mainCopy" class="container prepend-top">
  <%= render params[:portfolio] %>
</div>
