!!! 5

%html
  %head>
    %meta{:charset => 'utf-8'}
    %title Whoooops! I can’t find that page. (404)
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen, projection', :href => '/css/error.css'}

  %body
    .dialog
      %h1 The page you were looking for doesn’t exist.
      %p You may have mistyped the address or the page may have moved.
