!!! 5

%html
  %head>
    %meta{:charset => 'utf-8'}
    %title Yeah…you can’t do that! (422)
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen, projection', :href => '/css/error.css'}

  %body
    .dialog
      %h1 The change you wanted was rejected.
      %p Maybe you tried to change something you didn’t have access to.
