!!! 5

%html
  %head>
    %meta{:charset => 'utf-8'}
    %title I’m sorry, but something went wrong (500)
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen, projection', :href => '/css/error.css'}

  %body
    .dialog
      %h1 I’m sorry, but something went wrong.
      %p I’ve been notified about this issue and I’ll take a look at it shortly.
