%h3 Hello
%p
  I’m Dallas and I live in Walla Walla, Washington. I graduated from
  <a href="http://www.wallawalla.edu/" target="_blank">Walla Walla University</a> in 2006 with a 
  Bachelor of Science degree in <a href="/print">graphic design</a> but I’ve been doing
  <a href="/web">web development & design</a> since early 2007. I got married in the summer of 2008 
  and my wife and I have <a href="http://dallasandnicole.com/" target="_blank">a blog</a> to share 
  our life with friends and family.
