= haml :_images, :layout => false

#mainCopy.container.prepend-top
  .column.span-2.first
    = haml :_about_me, :layout => false

  .column.span-2
    %h3 Web
    %p
      I currently work for 
      = succeed ',' do
        %a{:href => 'http://bkwld.com/', :target => '_blank'} BKWLD
      a creative web agency with offices in Seattle and Sacramento. My latest projects have all 
      involved applying the BukCMS to various projects—like 
      %a{:href => 'http://spyder.com/', :target => '_blank'} Spyder 
      and
      = succeed '.' do
        %a{:href => 'http://explore.phitenusa.com/athletes', :target => '_blank'} Phiten USA
      Before BKWLD I worked at 
      %a{:href => 'http://www.qualitysmith.com/', :target => '_blank'} QualitySmith.com 
      for about a year, and before that I worked at
      %a{:href => 'http://www.americanwinery.com/', :target => '_blank'} AmericanWinery.com 
      for 2 years.

  .column.span-2.last
    %p
      In my spare time I enjoy working on freelance projects, such as a
      %a{:href => 'http://legrandcru.us/', :target => '_blank'} store front 
      and
      %a{:href => 'http://blog.legrandcru.us/', :target => '_blank'} blog 
      for Le Grand Cru, a Seattle-based clothing company. I also enjoy working on numerous personal 
      projects, such as a
      %a{:href => 'http://github.com/dallas/score-keeper', :target => '_blank'} score-keeping app 
      for keeping track of scores in various games amongst friends and family.
