= haml :_images, :layout => false

#mainCopy.container.prepend-top
  .column.span-2.first
    = haml :_about_me, :layout => false

  .column.span-2
    %h3 Web
    %p
      I currently work for
      <a href="http://www.qualitysmith.com/" target="_blank">QualitySmith.com</a> a home improvement
      contract lead generation service. My latest project has been to redesign the <a 
      href="http://www.qspro.com/" target="_blank">contractor recruitment</a> process. Before 
      QualitySmith, I worked at <a href="http://www.americanwinery.com/" 
      target="_blank">AmericanWinery.com</a> for 2 years. My last project there was to assist in 
      completely restructuring their web applications.

  .column.span-2.last
    %p
      In my spare time I enjoy working on freelance projects, such as a
      <a href="http://legrandcru.us/" target ="_blank">store front</a> and
      <a href="http://blog.legrandcru.us/" target="_blank">blog</a> for Le Grand Cru, a
      Seattle-based clothing company. I also enjoy working on numerous personal projects, such as a
      <a href="http://github.com/dallas/score-keeper" target="_blank">score-keeping app</a> for
      keeping track of scores in various games, such as
      <a href="http://github.com/dallas/mexican-trains" target="_blank">Mexican Trains</a>, amongst
      friends and family.
