= haml :_images, :layout => false

#mainCopy.container.prepend-top
  .column.span-2.first
    = haml :_about_me, :layout => false

  .column.span-2
    %h3 Web
    %p
      I currently work for
      <a href="http://www.americanwinery.com/" target="_blank">AmericanWinery.com</a> a marketplace 
      for connecting American wine consumers with American wineries. We’ve recently developed a new 
      winery portal + API service called
      <a href="http://wineraq.com/" target="_blank">WineRAQ</a> which will soon be used as the 
      data center for all of our other applications, including
      <a href="http://premiercellar.com" target="_blank">PremierCellar</a>,
      <a href="http://www.americanwinery.com/triovintners" target="_blank">Online WineStores</a>,
      and, of course,
      <a href="http://www.americanwinery.com/" target="_blank">AmericanWinery.com</a>.

  .column.span-2.last
    %p
      In my spare time I enjoy working on freelance projects, such as a
      <a href="http://legrandcru.us/" target ="_blank">store front</a> and
      <a href="http://blog.legrandcru.us/" target="_blank">blog</a> for Le Grand Cru, a
      Seattle-based clothing company. I also enjoy working on numerous personal projects, such as a
      <a href="http://github.com/dallas/score-keeper" target="_blank">score-keeping app</a> for
      keeping track of scores in various games, such as
      <a href="http://github.com/dallas/mexican-trains" target="_blank">Mexican Trains</a>, amongst
      friends and family.
