@import 'bourbon/bourbon';

.brand small {
  font-size: 12px;
  text-transform: uppercase;
}

.masthead {
  background-color: #049CD9;
/*  @include linear-gradient(#004D9F, #049cd9);*/
  color: white;
  padding-top: 40px;

  .grid {
    background-image: url('/svc/images/grid-bg.png'),
                      url('/svc/images/grid-thick-vert-bg.png'),
                      url('/svc/images/grid-thick-horz-bg.png');
    background-position: center center;
    background-repeat: repeat;
    bottom: 0;
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 0;
  }

  .inner {
/*    @include box-shadow(inset 0 10px 30px rgba(black, 0.3));*/
    padding: 40px 0;
    position: relative;
    z-index: 5;
  }

  h1, p {
    margin-bottom: 9px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }

  h1 {
    font-size: 54px;

    small {
      color: white;
      font-size: 27px;
      text-transform: uppercase;
    }
  }

  p {
    font-size:20px;
    font-weight: 300;
    line-height:27px;
  }
}

.hero-unit h1 small { font-size: 36px; }
