@import 'bourbon/bourbon';
@import url('fonts.css');

body { background-color:#222; }

a { color:#FA6900; }
a:hover { color:#F38630; }
a:active { color:#69D2E7; }

p { font-size:14px; line-height:1.5; }

h1 {
  font-family:Adelle, Georgia, serif;
  font-weight:bold;
}

.topbar {
  @include box-shadow(0 0 5px rgba(black, 0.2), 0 0 20px rgba(black, 0.4), 0 0 60px rgba(black, 0.6));

/*  .container { width:655px; }*/

  h3 a {
    color:darken(white, 10%);
    font-family:Adelle, Georgia, serif;
    font-size:16px;
    font-style:italic;
    font-weight:700;
    padding-top:9px;
    text-shadow:0 -1px 1px rgba(black, .9),
                0 1px 1px rgba(white, .9);
  }

  ul {
    font-family:Banda, Helvetica, sans-serif;
    font-size:110%;
  }
}

.masthead {
  background-color:#049CD9;
  @include linear-gradient(#004D9F, #049cd9);
  color:white;
  padding-top:40px;

  abbr {
    font-family:Adelle, Georgia, serif;
    font-style:italic;
    font-weight:bold;
  }

  .inner {
    @include box-shadow(inset 0 10px 50px rgba(black, .5));
    padding:120px 0 100px;
    position:relative;
    z-index:1;
  }

  .grid {
    background-attachment:scroll;
    background-image: url('/svc/images/grid-bg.png'),
                      url('/svc/images/grid-thick-vert-bg.png'),
                      url('/svc/images/grid-thick-horz-bg.png');
    background-position:center center;
    background-repeat:repeat;
    bottom:0;
    left:0;
    opacity:0.25;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }

  h1, p {
    margin-bottom:9px;
    color:white;
    text-align:center;
    text-shadow:0 1px 1px rgba(black, .3);
  }

  h1 {
    font-family:Adelle, Georgia, serif;
    font-size:100px;
    font-weight:700;
    text-shadow:0 1px 0 #ccc,
                0 2px 0 #c6c6c6,
                0 3px 0 #c0c0c0,
                0 4px 0 #bcbcbc,
                0 5px 0 #b6b6b6,
                0 6px 0 #b0b0b0,
                0 7px 0 #acacac,
                0 8px 0 #a6a6a6,
                0 9px 0 #a0a0a0,
                0 9px 1px rgba(black, .3),
                0 9px 2px rgba(black, .2),
                0 9px 3px rgba(black, .2),
                0 10px 4px rgba(black, .15),
                0 10px 6px rgba(black, .25),
                0 10px 10px rgba(black, .2);

    small {
      color:white;
      font-size:50px;
      font-style:italic;
    }
  }

  p {
    font-family:Banda, Helvetica, sans-serif;
    font-size:30px;
    font-weight:300;
    line-height:27px;
    text-shadow:-1px -1px 1px rgba(34,55,87, .8),
                1px 1px 1px rgba(255,255,255, .4);
  }
}

.hero-unit h1 small { font-size:36px; }

#overview {
  @include background-image(
    radial-gradient(center, ellipse, black 11%, transparent 12%),
    radial-gradient(center, ellipse, black 11%, transparent 12%),
    radial-gradient(center, ellipse, rgba(white, .075) 11%, transparent 15%),
    radial-gradient(center, ellipse, rgba(white, .075) 11%, transparent 15%));
  background-position:0 0, 6px 6px, 0 1px, 6px 7px;
  background-color:#262626;
  @include background-size(12px 12px);
  border-top:1px solid #777;
  @include box-shadow(0 -2px 4px rgba(black, .25));
  color:#eee;
  padding-bottom:100px;
  position:relative;
  z-index:5;

  &:after{
    @include linear-gradient(rgba(black, .6) 0%, rgba(black, 0) 35%, rgba(black, 0) 65%, rgba(black, .6) 100%);
    background-color:transparent;
    content:'';
    display:block;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
  }

  h1 {
    color:#69D2E7;
    text-shadow:-1px -1px 1px rgba(black, 0.9),
                1px  1px 1px rgba(lighten(#62b0ff, 25%), .5);
  }

  h2 { font-family:Banda, Helvetica, sans-serif; }

  h2, h3, h4, h5, h6 { color:white; }

  .row {
    position:relative;
    z-index:1;
  }
}

#instructor, #course-description, #course-materials {
  padding-top:60px;
}

#instructor {
  position:relative;
  z-index:5;

  img {
    background-color:#333;
    border:6px solid #333;
    border-color:rgba(black,0.7);
    height:auto;
    left:-6px;
    position:absolute;
    top:-67px;
    width:100px;
    z-index:1;
  }

  &:before {
    @include box-shadow(10px -10px 6px rgba(black, .25));
    content:'';
    display:block;
    height:75px;
    left:-6px;
    position:absolute;
    top:-67px;
    width:112px;
    z-index:0;
  }
}

#course-materials {
  .row { position:relative; }

  img {
    border:2px solid #ddd;
    height:auto;
    left:20px;
    position:absolute;
    top:9px;
    width:90px;
  }
}

.week {
  background-color:#f5f3ee;
  min-height:400px;
  padding:80px 0;

  h1, h2, h3, h4, h5, h6 {
    color:#444;
  }

  .row { position:relative; }

  &.switch {
    header {
      position:absolute;
      right:0;
    }
  }
}

#week-1, #week-5 {
  background-image:url('../images/ragged-border.png');
  background-repeat:repeat-x;
}

#week-1 { background-position:center -6px; }
#week-5 { background-position:center 554px; }

#week-1 {
  h1 {
    position:relative;
    z-index:2;
  }
}

#footer {
  border-top:0;
  margin-top:0;
  min-height:200px;
}
