= haml :_images, :layout => false

#mainCopy.container.prepend-top
  .column.span-2.first
    = haml :_about_me, :layout => false

  .column.span-2
    %h3 Web
    %p
      I currently work for 
      = succeed ',' do
        %a{:href => 'http://www.k3integrations.com/', :target => '_blank'} K3 Integrations, LLC
      a web development company centered in Walla Walla, Washington. So far I have been instrumental 
      in applying front-end design and adding to the Ruby on Rails code for many of our client 
      projects still in development. I’ve also bitten off a huge chunk of our forth-coming 
      Awesomesauce™ team-tracking application which should be beta-launching in the summer of 2012.
      Before K3 I worked at 
      %a{:href => 'http://bkwld.com/', :target => '_blank'} BKWLD Seattle
      for about a year, where I helped create the new 
      %a{:href => 'http://spyder.com/', :target => '_blank'} Spyder website 
      and the
      = succeed '.' do
        %a{:href => 'http://explore.phitenusa.com/athletes', :target => '_blank'}
          Explore Phiten USA sub-site

  .column.span-2.last
    %p
      In my spare time I enjoy working on freelance projects, such as a
      %a{:href => 'http://legrandcru.us/', :target => '_blank'} store front 
      and
      %a{:href => 'http://blog.legrandcru.us/', :target => '_blank'} blog 
      for Le Grand Cru, a Seattle-based clothing company. I also enjoy working on numerous personal 
      projects, such as a
      %a{:href => 'http://github.com/dallas/score-keeper', :target => '_blank'} score-keeping app 
      for keeping track of scores in various games amongst friends and family.
