<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Dallas Reedy » Walla Walla, WA » Ruby on Rails web developer </title>
  <%= blueprint_stylesheets %>
  <%= stylesheet_link_tag('application', :media => 'screen, projection') %>
</head>

<body>  
  <div id="page">
    <div id="header" class="container">
      <div id="siteId" class="span-4">
          <h1>dallas.reedy</h1>
      </div>
      
      <div id="mainImage" class="span-4">
        <div class="placeholder"></div>
      </div>
    </div>
    
    <div id="main" class="container">
      <%= yield %>
    </div>
    
    <div id="footer">
      
    </div>
  </div>
  
  <%= javascript_include_tag 'jquery' %>
</body>
  
</html>